.form__cart {
    padding: 3rem 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 97%;
    margin: 1rem auto;
    background: rgba($color: #ffffff, $alpha: 0.5);
    display: flex;
    flex-wrap: wrap;

    input,
    textarea,
    select {
        font-size: 1.5rem;
        width: 40%;
        padding: 12px;
        border: 1px solid $grey;
        border-radius: 4px;
        outline: none;
        &.input {
            &--error {
                border-color: red;
            }
        }
    }

    label {
        text-align: left;
        font-family: 'Avenir', sans-serif;
        font-size: 1.8rem;
        padding: 1.2rem 0 1rem;
        width: 40%;
    }
}
