.form__register {
    position: relative;
    padding: 10rem 4rem 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: 0.95);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    input,
    textarea,
    select {
        font-size: 1.5rem;
        width: 100%;
        padding: 12px;
        border: 1px solid $grey;
        border-radius: 4px;
        outline: none;
        &.input {
            &--error {
                border-color: red;
            }
        }
    }
    label {
        text-align: left;
        font-family: 'Avenir', sans-serif;
        font-size: 1.8rem;
        padding: 1.2rem 0 1rem;
        width: 40%;
    }
    h2 {
        top: 3rem;
        position: absolute;
        margin: 0 auto 3rem;
        width: 92%;
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey;
        font-size: 2.5rem;
        font-family: 'Avenir', sans-serif;
    }
}

.form__block {
    width: 45%;
    margin-right: 5rem;
}
