.single {
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    height: 70rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color: rgb(0, 0, 0), $alpha: 0.2),
        0 3px 10px rgba($color: #000000, $alpha: 0.1);
    &__image {
        width: 55%;
        img {
            height: auto;
            width: 100%;
            border-top-left-radius: 10px;
        }
        box-shadow: 0 0 7px rgba($color: rgb(0, 0, 0), $alpha: 0.1),
            0 3px 7px rgba($color: #000000, $alpha: 0.05);
    }
    &__details {
        width: 45%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
            font-size: 3rem;
            font-weight: 600;
            font-family: 'Avenir', sans-serif;
            padding: 0;
            margin: 0;
            &::after {
                content: '';
                display: block;
                margin-left: auto;
                margin-top: 1.4rem;
                height: 1px;
                width: 15rem;
                background-color: rgba($color: #000000, $alpha: 0.65);
            }
        }
        .choose__size {
            font-size: 1.7rem;
            font-family: 'Rob', sans-serif;
            margin-bottom: 1rem;
        }
    }
    &__price {
        p {
            font-size: 2rem;
            font-weight: 500;
            font-family: 'Lato', sans-serif;
        }
    }
}
.sizes {
    margin-top: 0rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 85%;
    &__size {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.7rem 0.2rem;
        padding: 1.6rem 1.2rem;
        background-color: rgba($color: whitesmoke, $alpha: 0.9);
        border: 1px solid rgba($color: #000000, $alpha: 0.7);
        cursor: pointer;
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
        transition: 0.3s all;
        &:not(.sizes__size--out_of_stock):hover {
            color: white;
            background-color: rgba($color: #145979, $alpha: 0.8);
        }
        &--selected {
            color: white;
            background-color: rgba($color: #145979, $alpha: 0.8);
        }
        &--out_of_stock {
            opacity: 0.3;
        }
    }
}

.addToCart {
    @include button;
}
