.single {
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    height: 70rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color: rgb(0, 0, 0), $alpha: 0.2),
        0 3px 10px rgba($color: #000000, $alpha: 0.1);
    &__image {
        width: 50%;
        img {
            height: auto;
            border-top-left-radius: 10px;

            width: 100%;
        }
        box-shadow: 0 0 7px rgba($color: rgb(0, 0, 0), $alpha: 0.1),
            0 3px 7px rgba($color: #000000, $alpha: 0.05);
    }
    &__details {
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
            font-size: 3rem;
            font-weight: 600;
            font-family: 'Avenir', sans-serif;
            padding: 0;
            margin: 0;
            &::after {
                content: '';
                display: block;
                margin-left: auto;
                margin-top: 1.4rem;
                height: 1px;
                width: 15rem;
                background-color: rgba($color: #000000, $alpha: 0.65);
            }
        }
    }
    &__price {
        p {
            font-size: 2rem;
            font-weight: 500;
            font-family: 'Lato', sans-serif;
        }
    }
}
.sizes {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 70%;
    &__size {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.7rem 0.2rem;
        padding: 0.7rem 1.2rem;
        background-color: rgba($color: whitesmoke, $alpha: 0.7);
        border: 1px solid rgba($color: #000000, $alpha: 0.7);
        cursor: pointer;
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
    }
}
