html {
    font-size: 10px;
}

body {
    background: $purple;
    background: #efefef;
    background: url('../../assets/images/sneakers-bg.jpg') no-repeat center center fixed;
    background-size: cover;

    &:before {
        content: '';
        display: block;
        background: $lightblue;
        height: 2px;
        width: 100%;
    }
}
.inner {
    max-width: 1150px;
    margin: 0 auto;
    @media all and (max-width: 900px) {
        padding: 2rem;
    }
}
